<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="list-crawl">
      <ul>
        <% listCrawl.forEach(function(crawl){ %>
        <div class="crawl-item">
          <a
            href="<%= crawl.url %>"
            style="color: #fff; text-decoration: none; line-height: 24px"
            target="_blank"
            class="crawl-store"
            ><%= crawl.url %></a
          >
          <div class="crawl-page">Số trang <%= crawl.page %></div>
          <div class="crawl-download" id="<%= crawl._id %>">Tải xuống</div>
        </div>
        <% }); %>
      </ul>
    </div>
    <div class="form">
      <div class="input-container ic1">
        <input
          id="store"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder=" "
        />
        <div class="cut"></div>
        <label for="store" class="placeholder">Cửa hàng</label>
      </div>
      <div class="input-container ic2">
        <input
          id="ship"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder=" "
        />
        <div class="cut"></div>
        <label for="ship" class="placeholder">Giá Ship</label>
      </div>
      <div class="input-container ic2">
        <input
          id="num"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder=" "
        />
        <div class="cut cut-short"></div>
        <label for="num" class="placeholder">Hệ số</label>
      </div>
      <div class="input-container ic2">
        <input
          id="prefix"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder=" "
        />
        <div class="cut cut-short"></div>
        <label for="prefix" class="placeholder">Tiền tố</label>
      </div>
      <div class="input-container ic2">
        <input
          id="length"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder=" "
        />
        <div class="cut cut-short"></div>
        <label for="length" class="placeholder">Độ dài tên</label>
      </div>
      <button type="text" id="submit" class="submit">Lấy dữ liệu</button>
    </div>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
      integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
