<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
      integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="modal-progress">
      <div>
        Tiến độ hiện tại: <span class="modal-progress-current">0</span> /
        <span class="modal-progress-total">0</span> sản phẩm
        <span class="close">X</span>
      </div>
    </div>
    <div id="modal-full-file">
      <div id='click-outside'></div>
      <div class="wrap-modal-full-file">
        <div class="modal-full-file-item">
          <label for="">Product Type</label>
          <input
            id="ProductType"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        
        <div class="modal-full-file-item">
          <label for="">Product Feature 2</label>
          <input
            id="ProductFeature2"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        <div class="modal-full-file-item">
          <label for="">Item Type Keyword</label>
          <input
            id="TypeKeyword"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        <div class="modal-full-file-item">
          <label for="">Product Feature 3</label>
          <input
            id="ProductFeature3"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
       
        <div class="modal-full-file-item">
          <label for="">Brand Name</label>
          <input
            id="BrandName"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
      
       
        <div class="modal-full-file-item">
          <label for="">Product Feature 4</label>
          <input
            id="ProductFeature4"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        <div class="modal-full-file-item">
          <label for="">Product Feature 1</label>
          <input
            id="ProductFeature1"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        <div class="modal-full-file-item">
          <label for="">Product Feature 5</label>
          <input
            id="ProductFeature5"
            class="input"
            type="text"
            autocomplete="chrome-off"
          />
        </div>
        <div class="modal-full-file-item" style="width: 100%; margin-top: 60px">
          <button type="text" id="download" class="submit">Tải file</button>
        </div>
      </div>
    </div>
    <div class="form">
      <div class="input-container ic1">
        <input
          id="store"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Link Store"
        />
      </div>
      <div style="margin-bottom: 40px">
        <input type="file" id="actual-btn" accept=".xlsx, .xls," hidden />
        <label id="lable-file" for="actual-btn">Chọn file Excel</label>
        <span id="file-chosen">Không có file nào được chọn</span>
      </div>
      <div class="input-container ic2">
        <input
          id="ship"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Shipping Price"
        />
      </div>
      <div class="input-container ic2">
        <input
          id="num"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Hệ số lãi"
        />
      </div>
      <div class="input-container ic2">
        <input
          id="prefix"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Prefix"
        />
      </div>
      <div class="input-container ic2">
        <input
          id="length"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Độ dài Tiêu đề"
        />
      </div>
      <div class="input-container ic2">
        <input
          id="mail"
          class="input"
          type="text"
          autocomplete="chrome-off"
          placeholder="Email nhận thông báo"
        />
      </div>
      <% if (isCrawling) { %>
      <button type="text" id="submit" disabled class="submit">
        Đang lấy dữ liệu, hãy đợi
      </button>
      <% } %> <% if (!isCrawling) { %>
      <button type="text" id="submit" class="submit">Lấy dữ liệu</button>
      <% } %>
    </div>
    <div class="content-right">
      <div class="menu">
        <div id="progress" class="menu-item">Xem tiến độ</div>
        <div id="history" class="menu-item">Lịch sử tìm kiếm</div>
      </div>
      <div class="list-crawl">
        <ul>
          <% listCrawl.forEach(function(crawl){ %>
          <div class="crawl-item">
            <a
              href="#"
              style="text-decoration: none; line-height: 24px"
              class="crawl-store"
              ><%= crawl.prefix %></a
            >
            <div class="crawl-page">Số trang <%= crawl.page %></div>
            <div class="crawl-date">
              Ngày lấy <%= moment(crawl.created_at).format("DD/MM/YYYY") %>
            </div>
            <div class="crawl-download-full" id="<%= crawl._id %>">
              Tải bản đầy đủ
            </div>
          </div>
          <% }); %>
        </ul>
      </div>
    </div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
